body{
    height: 100%;
    background-color: #FFD8D4
}

.login-container{
    margin: 0;
    padding: 20px 40px;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px 130px 33px 95px;
    box-shadow: 0px 2px 5px #aaaaaa;
}

.form-title{
    color: #333;
    font-size: 40px;
    line-height: 1.2;
    width: 100%;
}

.form-input{
    color: #666;
    font-size: 15px;
    width: 100%;
    background: #e6e6e6;
    border-radius: 25px;
    padding: 0 30px 0 68px;
    height: 50px;
    margin-top: 16px;
    border-width: 0px;
}

.btn-submit{
    width: 100%;
    margin-top: 16px;
    border-radius: 25px;
    background-color: #57b846;
    padding: 10px 25px;
    color: white;
    border-width: 0px
}