h1 {
    text-align: center;
}
button {
    background-color: rgba(255,255,255,.7);
    border: none;
    outline: none;
    border-radius: 19px;
    box-shadow: 3px 3px 7px black;
    font-size: 24px;
    display: block;
    margin: 10px auto;
    min-height: 70px;
    width: 20%;
}